parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - message: '/^Variable method call on \$this\(Gears\\DTO\\Abstract(Scalar)?DTO(Collection)?\)\.$/'
      path: src/PayloadBehaviour.php
