parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - '/^Method Gears\\DTO\\Abstract(Scalar)?DTO(Collection)?::setPayloadParameter\(\) has parameter \$reflection with generic class ReflectionClass but does not specify its types: T/'
